# DOSBox captures
capture/*

# Windows shortcuts
*.lnk

# Build products 
disk/TRACKS/*.EXE
disk/TRACKS/*.OBJ
disk/MAIN.OBJ
disk/DATA.CPP
disk/DATA.H
disk/MDISK.EXE
disk/GRAPHICS/*.H
disk/TRACKS.DAT
disk/MINILZO/MINILZO.OBJ
disk/GRAPHICS/*.H