# DOSBox captures
capture/*

# Windows shortcuts
*.lnk

# Build products (MDISK only)
disk/MAIN.OBJ
disk/DATA.CPP
disk/DATA.H
disk/MDISK.EXE
disk/GRAPHICS/*.H
disk/TRACKS.DAT
disk/GRAPHICS/*.H
disk/tracks/BUILD.EXE
disk/tracks/BUILD.OBJ
disk/minilzo/MINILZO.OBJ
disk/MAIN.ERR
